RedirectMatch 301 ^/job-post-pins/?$ /completed-job-pins/
RedirectMatch 301 ^/job-post-pins/job-2020/?$ /completed-job-pins/job-2020/
RedirectMatch 301 ^/job-post-pins/job-2312-sugar-land-extra-room-airflow/?$ /completed-job-pins/job-2312-sugar-land-extra-room-airflow/
